[project]
name = "qcpAPI"
version = "0.1.0"
description = ''
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]

[tool.setuptools.package-data]
server_executions= ["*.py","*.ico"]

